<div class="container">
    <div class="row">
        <h3><a href="" target="_blank"> Registration for the BioC2022 conference opens soon. Call for abstracts open. </a></h3>
        <h4> BioC2022 is organized as a hybrid event. This includes in-person gathering in Seattle and online participation </h4>
        <p class="text-primary text-large mb-small text-left">
            </b>.
        </p>
    </div>
    <div class="row">
        <table style="width:100%">
            <tr>
                <th><h4>Mark your calendar</h4></th>
                <th>Tweets by <a href="https://twitter.com/Bioconductor" target="blank">@Bioconductor</a></th>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li><b>January 22, 2022</b>:Call for abstracts opens.</li>
                        <li><b>March 29, 2022</b>: Call for abstracts is closed</li>
                        <li><b>April 29, 2022</b>: Notification of decision</li>
                        <li><b>July 27-29, 2022</b>: The BioC2022 conference.</li>
                        <br>
                    </ul>
                </td>
                <td>
                    <a class="twitter-timeline" data-height="200" href="https://twitter.com/Bioconductor?ref_src=twsrc%5Etfw">Tweets by Bioconductor</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </td>
            </tr>
        </table>

        </p>
</div>
</div>
