{{ if .IsNamedParams }}
<div class="heading text-center">
    <h2> {{ $.Params.date }} </h2>
</div>

<div class="container">
<table id='schedule-table' class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Time</th>
            <th>Session Type</th>
            <th>Author</th>
            <th>Title</th>
            <th>Links</th>
            <th>YouTube</th>
        <tr>
    </thead>
    <tbody>
        {{ $data := index $.Site.Data.schedule.schedule $.Params.data }}
        {{ range $data }}
            <tr>
                <td>{{ .time }}</td>
                <td>{{ .session_type }}</td>
                <td>{{ .author }}</td>
                <td><a href=""  title={{ .abstract }} >{{ .title }}</a> </td>
                <td><a href="{{ .github_link }}"><i class="fab fa-github" ></i></a></td>
                <td><a href="{{ .youtube_link }}"><i class="fab fa-youtube" ></i></a></td>
            </tr>
        {{ end }}
    </tbody>
<table>
</div>
{{- end -}}

