<h3> Thursday, July 28, 2022 </h3>

<div class="container">
<table id='schedule-table' class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Time</th>
            <th>Session</th>
            <th>Author</th>
            <th>Title/Event</th>
            <th>YouTube</th>
        <tr>
    </thead>
    <tbody>
        {{ $day := "day2" }}
        {{ $data := $.Site.Data.abstracts }}
        {{ range sort $data "time" "asc" }}
        {{ if eq .day $day }}
            <tr>
                <td width="5%">{{ .time }}</td>
                <td width="12%">{{ .session_type }}</td>
                <td width="18%">{{ .presenting_author }}</td>
                <td width="60%"><a href="../abstracts/{{ .paper }}" target="_blank" title={{ .abstract }} >{{ .title }}</a> </td>
                <td width="5%"><a href="{{ .youtube_link }}"><i class="fab fa-youtube" ></i></a></td>
            </tr>
        {{ end }}
        {{ end }}
    </tbody>
<table>
</div>

